.center {
  position: relative;
  height: 50px;
  /* background: rgba(237, 105, 93, 0.1); */
  /* border-radius: 8px; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  @apply border-b-2 border-t-2 border-primary/10
    text-secondary;
}
.selected {
  @apply text-main;
}
.center:before,
.year:after {
  content: '';
  position: absolute;
  left: 0;
  width: 80px;
  height: 50px;
  /*background: white;*/
  opacity: 0.8;
  pointer-events: none;
  z-index: 1;
}

.center:before {
  top: -51px;
}

.center:after {
  bottom: -51px;
}

.li {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
  height: 50px;
  user-select: none;
}
